
@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>
<hr />
<a asp-action="ShowCategory" class="btn btn-primary mt-2 btn-lg"> showcat </a>
<br />
<a asp-action="AddCat" class="btn btn-primary mt-2 btn-lg"> AddCat </a>


