@model List<Categorie>
@{
    ViewData["Title"] = "ShowCategory";
}

<h1>ShowCategory</h1>

<table class="table table-bordered table-hover">
    @foreach(var i in Model)
    {
        <tr>
            <td>@i.Name</td>
            <td>
                <a asp-action="updataCategorie" asp-route-id="@i.Id">Edit</a>
                <a asp-action="DeleteCat" asp-route-id="@i.Id">Delete</a>
                
            </td>
        </tr>
    }
</table>



